@model IEnumerable<MVC_CRUD_DiplomadoUASDCodeFirst.Model.Models.Empleado>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<a class=" btn btn-success" style="margin-bottom:10px" href="/Empleadoes/Create">
    Create New
</a>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Apellidos)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fecha_Ingreso)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apellidos)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fecha_Ingreso)
            </td>
            <td>

                <a href="/Empleadoes/Edit?id=@item.EmpleadoID" class="btn btn-primary">Edit</a>
                 <a href="/Empleadoes/Details?id=@item.EmpleadoID" class="btn btn-success">Details</a>
                <a href="/Empleadoes/Delete?id=@item.EmpleadoID" class="btn btn-danger">Delete</a>
                @*@Html.ActionLink("Edit", "Edit", new { id = item.EmpleadoID }) |
                @Html.ActionLink("Details", "Details", new { id = item.EmpleadoID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.EmpleadoID })*@
            </td>
        </tr>
    }

</table>
